In [1]:
em = []

In [17]:
for i in range(10):
    x = input()
    em = em.append()

3

TypeError: append() takes exactly one argument (0 given)

In [4]:
lst = ['one', 'two', 'three', 'four']
lst1 = [1 ,2 , 3 , 4]
lst2 = [[1, 2], [3, 4]]
lst3 = [1, 'ramu', 24 , 1.24]

print(lst3)

[1, 'ramu', 24, 1.24]

In [7]:
lst2[0:1]

[[1, 2]]

In [8]:
lst[:2]

['one', 'two']

In [9]:
len(lst)

4

In [11]:
lst.append('five')

In [12]:
lst.insert(2, "three")

In [13]:
lst

['one', 'two', 'three', 'three', 'four', 'five']

In [14]:
lst.remove("three")

In [15]:
lst.append(lst2)

In [16]:
lst

['one', 'two', 'three', 'four', 'five', [[1, 2], [3, 4]]]

In [20]:
lst.extend(lst3)
#joins the list

In [19]:
lst

['one', 'two', 'three', 'four', 'five', [[1, 2], [3, 4]], 1, 'ramu', 24, 1.24]

In [21]:
#list delete

In [22]:
lst = ['one', 'two', 'three', 'four', 'five']

del lst[1]
print(lst)

['one', 'three', 'four', 'five']

In [25]:
a = lst.pop(1)
a

'four'

In [24]:
lst

['one', 'four', 'five']

In [26]:
lst.remove("five")

In [28]:
lst

['one']

In [29]:
lst

['one']

In [31]:
lst = ["one", 'two','three', 'four']
if 'two' in lst:
    print("AI")

if 'six' not in lst:
    print("ML")

AI
ML

In [32]:
lst =['one', 'two', 'asl', 'boom', 'clap']

In [33]:
lst.reverse()

In [34]:
lst

['clap', 'boom', 'asl', 'two', 'one']

In [35]:
numbers = [3,1,6,2,8]
sorted_list = sorted(numbers)

In [36]:
sorted_list

[1, 2, 3, 6, 8]

In [37]:
sorted(numbers, reverse=True)

[8, 6, 3, 2, 1]

In [38]:
lst = [1, 20 ,5, 5, 4.2]

In [39]:
lst.sort()

In [40]:
lst

[1, 4.2, 5, 5, 20]

In [41]:
l = [1, 2, 3, 4, 5]
abc = l
abc.append(6)

In [42]:
abc

[1, 2, 3, 4, 5, 6]

In [43]:
s = "one,two,three,four,five"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four', 'five']

In [44]:
s = "this is applieed ai course"
s = s.split()
s

['this', 'is', 'applieed', 'ai', 'course']

In [45]:
lst = [1, 2, 3, 4]
lst[1]

2

In [46]:
lst[-3]

2

In [47]:
number = [10, 20, 30, 50, 60, 60,23, 56, 78]

In [49]:
number[0:4]

[10, 20, 30, 50]

In [50]:
number[::2]

[10, 30, 60, 23, 78]

In [52]:
#[start:end:stepsize]

In [53]:
number[::3]

[10, 50, 23]

In [54]:
number[::4]

[10, 60, 78]

In [55]:
number[2::2]

[30, 60, 23, 78]

In [56]:
lst = [1, 2, 3, 4]
lst1 = ['varna' , 'naveen', 'murali', 'brahma']
new_list = lst+lst1

In [57]:
new_list

[1, 2, 3, 4, 'varna', 'naveen', 'murali', 'brahma']

In [58]:
#list count

In [59]:
numbers = [1, 2, 3 ,4, 5, 6, 7, 8, 9, 10]

In [60]:
numbers.count(1)

1

In [61]:
number.count(3)

0

In [62]:
lst = ['one' , 'two' , 'three', 'four']
for ele in lst:
    print(ele)

one
two
three
four

# List comprehension

In [63]:
squares = []
for i in range(10):
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [64]:
a = []
for i in range(1,12,4):
    a.append(i**3)
print(a)

[1, 125, 729]

In [65]:
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
a = [i**2 for i in range(5)]

In [67]:
a

[0, 1, 4, 9, 16]

In [69]:
b = [i+4 for i in range(6)]

In [70]:
b

[4, 5, 6, 7, 8, 9]

In [72]:
lst = [-10, -20, 10 , 20, 50]
new = [i*2 for i in lst]

In [73]:
new

[-20, -40, 20, 40, 100]

In [74]:
newls = [i for i in lst if i>=0]

In [75]:
newls

[10, 20, 50]

In [78]:
newls = [i for i in lst if i>=30]

In [79]:
newls

[50]

In [80]:
newl = [(i, i**2) for i in range(10)]
newl

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [81]:
na = [(i, i+2) for i in range(4)]

In [82]:
na

[(0, 2), (1, 3), (2, 4), (3, 5)]

In [83]:
#nested list comprehension

In [84]:
matrix = [[1, 2, 3, 4],
         [5, 6, 7, 8],
         [9, 10 , 11, 12]]

In [86]:
t = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    t.append(lst)

In [87]:
t

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]