In [1]:
#immutable

In [2]:
t = ()

In [3]:
t = (1, 2, 3)

In [4]:
t

(1, 2, 3)

In [5]:
t = (1, 'raju' , 28, 'abc')
t

(1, 'raju', 28, 'abc')

In [6]:
t = (1, (2, 3, 5), [1, 'raju', 'abc', 29])

In [7]:
t

(1, (2, 3, 5), [1, 'raju', 'abc', 29])

In [8]:
t = ('sathiss')
type(t)

str

In [10]:
t = ('satish', ) #paranthesis is optional
type(t)

tuple

In [11]:
t = ('sathsad', 'marulead', 'naveen', 'srinu')
t[1]

'marulead'

In [12]:
t[1:]

('marulead', 'naveen', 'srinu')

In [13]:
t[1::2]

('marulead', 'srinu')

In [14]:
t  = ('ABC', ('satish', 'naveen', 'srinu'))
t[1]

('satish', 'naveen', 'srinu')

In [15]:
t = (1,2,3,4,5,6)

In [16]:
print(t[1:4])

(2, 3, 4)

In [17]:
t[:-2]

(1, 2, 3, 4)

In [18]:
t[:]

(1, 2, 3, 4, 5, 6)

In [19]:
#creating tuple

In [20]:
t = (1,2,3,4,[5,6,7])

In [21]:
t[2] = 'x'

TypeError: 'tuple' object does not support item assignment

In [23]:
t[4][1] = 'satish'

In [25]:
t#because of a list : list is mutable

(1, 2, 3, 4, [5, 'satish', 7])

In [26]:
t = (('satish', ) * 4)
t

('satish', 'satish', 'satish', 'satish')

In [27]:
t = (2, 4, 6) + ( 5, 6, 7)

In [28]:
t

(2, 4, 6, 5, 6, 7)

In [29]:
t = (1,2,34,5,6)

In [31]:
del t

In [34]:
t = (2, 4, 6) + ( 5, 6, 7)

In [37]:
t.count(2)

1

In [38]:
#frequency

In [39]:
t = (0, 1 ,2, 3, 1, 4, 3, 3, 5, 1)

In [40]:
t.index(2)

2

In [41]:
t = (1, 2, 3, 4, 5, 6)

In [43]:
1 in t

True

In [44]:
2 in t

True

In [45]:
t = (1, 2, 3, 4, 5, 6)
len(t)

6

In [46]:
t  = (4,5,1,2,3)

In [47]:
new_t = sorted(t)

In [48]:
t

(4, 5, 1, 2, 3)

In [49]:
max(t)

5

In [51]:
sorted(t)

[1, 2, 3, 4, 5]

In [52]:
min(t)

1

In [53]:
max(t)

5

In [54]:
sum(t)

15