In [1]:
a = 10
b = 5.5
c = "ML"

In [2]:
a

10

In [3]:
b

5.5

In [4]:
c

'ML'

In [5]:
a,b,c = 10, "ML", 5

In [6]:
a =b =c= "AI"

In [7]:
a

'AI'

In [8]:
x = 3

In [9]:
id(x)

1462525040

In [10]:
y = 4

In [11]:
id(y)

1462525072

In [12]:
a = 5
print(a, "is of type", type(a))

5 is of type <class 'int'>

In [13]:
a = 2.5
print(a, "is of type", type(a))

2.5 is of type <class 'float'>

In [16]:
a = 1+3j
print(isinstance(1+2j, complex))
print(type(a))

True
<class 'complex'>

In [17]:
a = True
print(type(a))

<class 'bool'>

In [19]:
s =  """this is online ai
      course"""
print(type(s))

<class 'str'>

In [23]:
#list are mutable
s[len(s)-1]

'e'

In [24]:
s[:5]

'this '

In [27]:
s[7:15]

' online '

In [28]:
a = [10, 20.5, "Hello"]

In [29]:
a

[10, 20.5, 'Hello']

In [30]:
a[1]

20.5

In [ ]:
a[1] = 30.7

In [32]:
#tupple are immutable

In [1]:
"""
line = input (). split(' ')
x = int (line [0])  
y = float (line [1])
if x + 0.50 < y :
  if x % 5 == 0:
    z = (y - x) - 0.50
    print (f'{z:.2f}')
  else:
    print (f'{y:.2f}')
else:
  print (f'{y:.2f}')"""

"\nline = input (). split(' ')\nx = int (line [0])  \ny = float (line [1])\nif x + 0.50 < y :\n  if x % 5 == 0:\n    z = (y - x) - 0.50\n    print (f'{z:.2f}')\n  else:\n    print (f'{y:.2f}')\nelse:\n  print (f'{y:.2f}')"

In [9]:
n, k = map(int, input().split())
a=0
for i in range(n):
    if (int(input())) % k==0:
        a+=1
print("divied", a)

7 3
1
51
966369
11
9999
9
7
divied 4

In [10]:
n ,k = map(int, input().split())
a = 0 
for i in range(n):
    x = int(input())
    if x%k==0:
        a+=1
print(a)

4 8
16
32
64
89
3

In [1]:
a = {10, 20, 30 ,50 ,6}

In [2]:
print(type(a))

<class 'set'>

In [3]:
a

{6, 10, 20, 30, 50}

In [5]:
s = {10, 20, 20, 30, 30, 30}

In [7]:
s #duplicate wont be shown

{10, 20, 30}

In [8]:
s[1] #not support indexxing

TypeError: 'set' object does not support indexing

In [9]:
#dictionary

In [10]:
d = {'a' : "apple", 'b':"bat"}
print(d['a'])

apple

In [11]:
d['b']

'bat'

In [12]:
#conversion between datatypes
float(5)

5.0

In [13]:
int(100.5)

100

In [14]:
str(20)

'20'

In [15]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [18]:
user = "satish"
lines = 100

print("congratulations, " + user +  "  " +str(lines))

congratulations, satish  100

In [ ]:
a = [2, 1, 3]
print(typr())